.backhead {
    background-color: orange;
}

.darkbckgrnd {
    background-color: black;
}

.lightwrd {
    color: white;
}

table, th, td {
    border: 2px solid black;
}

.bigwrd {
    font-size: 36;
}

/* Obtenido de W3school */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}



.parallax {
    /* The image used */
    background-image: url("images/family_dog_home.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}